@model List<Report.EntityModel.DesErrorCode>

<thead>
    <tr>
        @*<th width 10%;>Model Name</th>
            <th>Station</th>
            <th>Error Code</th>
            @foreach (var day in Model.days)
                {
                <th>@(DateTime.ParseExact(day, "yyyyMMdd", null).ToString("yyyy/MM/dd"))</th>
            }*@
        <th width="20%">Model Name</th>
        <th width="15%">Station</th>
        <th width="15%">Error Code</th>
        <th width="40%">Description</th>      
        <th width="20%">Action</th>



    </tr>
</thead>

<tbody id="MyTable">


    @foreach (var item in Model)
    {

        <tr>
            <td>@(item.ModelName)</td>
            <td>@(item.Station)</td>
            
            <td>@(item.ErrorCode)</td>
            <td>@(item.Description)</td>

            <td><button type="button" style=" border-radius:5px;" class="btn btn-info" onclick="editDesError(@item.Id,'@item.ModelName','@item.Station','@item.ErrorCode','@item.Description')"><i class="far fa-edit" style="margin-right:2px"></i>Edit</button></td>
        </tr>


    }









</tbody>






