@model List<Report.Entity.LstDataLine>


<div>
    @foreach (var line in Model)
    {
        <div  style="display:inline-block; width:127px; height:20px;text-align:center;line-height:20px;  background-color:pink;font-weight: 500; border:1px solid black;">
            <span >@line.LINE_NAME</span>
        </div>
    }
</div>
<div>
    @foreach (var item in Model)
    {        
        <div class="flex-container">
            @foreach (var itemLine in item.lstDataModelNameByLine)
            {

               
                foreach (var dataGroup in itemLine.lstDataByGroupInModelName)
                {

                    foreach (var infoByGroup in dataGroup.lstdataGroupInLine)
                    {

                        var infor = "Line :" + item.LINE_NAME + "</br>" + "ModelName: " + itemLine.MODEL_NAME + "</br>" + "GroupName: " + dataGroup.GROUP_NAME + "</br>"  + "RR: " + infoByGroup.RR + "</br>" + "YR: " + infoByGroup.YR+"</br> Input: "+infoByGroup.INPUT+ "</br> FirstFail:"+infoByGroup.FirstFail+"</br> ReFail: "+infoByGroup.ReFail;
                        if (infoByGroup.RR > 5)
                        {
                            <button style="  width:130px;  line-height:20px;height:50px; text-align:center; background-color:#e41d1d;transition:1.5s; " type="button" class="btn changeColor1 " data-toggle="tooltip" data-html="true" title="@(infor)">
                                @*btn-secondary*@
                                @(dataGroup.GROUP_NAME)
                            </button>                    
                    }
                    else if (infoByGroup.RR >= 3)
                    {
                       
                            <button style=" width:130px;  line-height:20px;height:50px; text-align:center; background-color:#f99909; " type="button" class="btn changeColor2" data-toggle="tooltip" data-html="true" title="@(infor)">
                                @(dataGroup.GROUP_NAME)
                            </button>
                        
                    }
                    else
                    {
                        
                            <button style=" width:130px;  line-height:20px;height:50px; text-align:center; background-color:green;  transition:1.5s; " type="button" class="btn changeColor3" data-toggle="tooltip" data-html="true" title="@(infor)">
                                @(dataGroup.GROUP_NAME)
                            </button>
                        
                        }

                    }

                }





            }
        </div>
    }
</div>
